# Dependencies
node_modules/
**/node_modules/
uploads/
**/uploads/

# Environment Variables
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

# Build Output
dist/
dist-ssr/
build/
*.bsp

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor & System Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Coverage & Cache
coverage/
.clinic/
.nyc_output/
.eslintcache
